<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<h3>会員登録</h3>
	<form action="" method="post">
		<div class="">
			<label for="namelabel">名前</label>
			<input type="text" name="name" placeholder="例) 太郎">
		</div>
		<div class="">
			<label for="maillabel">メールアドレス</label>
			<input type="email" name="email" placeholder="example@xxx.com">
		</div>
		<div class="">
			<label for="passalabel">パスワード</label>
			<input type="password" name="password" placeholder="パスワード">
		</div>
		<div class="example">
			<input type="submit" value="新規登録">
		</div>
	</form>
</body>

</html>